<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments::header">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="fragments :: sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div th:if="${size == 0}">
                    <p>No manufacturer</p>
                </div>
                <button type="button"  class="btn btn-success my-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New manufacturer</button>
                <div th:if = "${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if = "${failed}" class="text-center alert alert-danger">
                    <p th:text="${failed}"></p>
                </div>

                <table class="table table-bordered text-center my-2" th:if="${size > 0}">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="manufacturer : ${manufacturer}">
                        <th scope="row" th:text="${manufacturer.id}"></th>
                        <td th:text="${manufacturer.name}"></td>
                        <td th:text="${manufacturer.address}"></td>
                        <td th:text="${manufacturer.email}"></td>
                        <td>
                            <a id="editButton" th:href="@{/findManufacturer/(id = ${manufacturer.id})}" class="btn btn-primary">Update</a>
                        </td>
                        <td>
                            <!--                            <a id="editButton" th:href="@{/findCategory/(id = ${category.id})}" class="btn btn-primary">Update</a>-->
                            <a th:if = "${manufacturer.isActivated()} == true" th:href="@{/manufacturer/delete/(id = ${manufacturer.id})}" class="btn btn-danger">Delete</a>
                            <a th:if = "${manufacturer.isActivated()} == false" th:href="@{/manufacturer/enable(id = ${manufacturer.id})}" class="btn btn-warning">Enable</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll">
</a>

<div th:fragment="logoutModal" class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">You will end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-success" href="login.html"  th:href="@{/login}">Logout</a>
            </div>
        </div>
    </div>
</div>
<!--Add Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <form th:action="@{/manufacturer/new}" method="post" th:object="${manufacturerNew}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">New Category</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" th:field = "*{name}" >
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Address:</label>
                        <input type="text" class="form-control" th:field = "*{address}" >
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" th:field = "*{email}" id="recipient-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--end-->


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalExample" aria-hidden="true">
    <form th:action="@{/manufacturer/update}" method="put">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit manufacturer</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idEdit" class="col-form-label">Id:</label>
                        <input type="text" class="form-control"  id="idEdit" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="nameEdit" class="col-form-label">Name:</label>
                        <input type="text" class="form-control"  id="nameEdit" name="name">
                    </div>
                    <div class="form-group">
                        <label for="addressEdit" class="col-form-label">Address:</label>
                        <input type="text" class="form-control"  id="addressEdit" name="address">
                    </div>
                    <div class="form-group">
                        <label for="emailEdit" class="col-form-label">Email:</label>
                        <input type="text" class="form-control"  id="emailEdit" name="email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>


<!---->
<div th:replace = "fragments::script"></div>
<script th:src="@{js/manufacturer.js}"></script>

</body>

</html>